<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Client Side API Code</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
    <h1>Musician Names Database</h1>
    
    <div class="alert">
        <h2>Attention</h2>
        <p>As of March 14th 2024 this database is working as it should. The default value is for musicians to be sorted in Descending order based on likes. The voting buttons are functional and the page will automatically reload based on the inputs from the voting buttons.</p>
    </div>
    
    <h2>Add a new Musician to the Database</h2>
    <form action="/musicians" method="POST">
        <input type="text" placeholder="Stage Name" name="stageName">
        <input type="text" placeholder="Birth Name" name="birthName">
        <input type="number" name="age">
        <button type="submit">Add New</button>
    </form>
    
    <h2>Update a Musicians information</h2>
    
    <div class="centerContent">
        <input type="text" placeholder="Current Stage Name" name="currentStageName" id="currentStageName"required>
        <input type="text" placeholder="Updated Stage Name" name="updatedStageName" id="updatedStageName">
        <input type="text" placeholder="Updated Birth Name" name="updatedBirthName" id="updatedBirthName">
        <input type="number" placeholder="Updated age" name="updatedAge" id="updatedAge">
        <button id="update-button">Update Info</button>
    </div>
    
    <section>
        <h2>All Musicians:</h2>
        <!-- <div class="centerContent">
            <button id="sortA">Sort Ascending</button>
            <button id="sortD">Sort Descending</button>
        </div> -->
        <ul class="musicians">
            <% for(var i = 0; i < musicians.length; i++) {%>
            <li class="musician">
                <span class="stage-name"><%= musicians[i].stageName %></span>: 
                <span class="likesCount">Likes: <%= musicians[i].likes %></span>
                <span class="like button">Like</span>
                <span class="dislike button">Dislike</span>
                <span class="delete button">Delete</span>
                <p class="musician-info">Birth Name: <%= musicians[i].birthName %> Age: <%= musicians[i].age %></p>
            </li>
            <%} %>
        </ul>
    </section>
    
    <script src='/js/main.js'></script>
</body>
</html>