body {
    background: lightcyan;
    font-family: Arial, Helvetica, sans-serif;
}

h1,h2,p:not(.musician-info),form, .centerContent {
    text-align: center;
}

h1 {
    font-size: 3rem;
    padding: 1.5em 0 1em 0;
}

p {
    padding: 0 5%;
}

ul {
    padding: 0 30% 0 35%;
}

.alert {
    border: 3px solid black;
    background: lightgreen;
    margin: 0 20%;
}

/* Styling the ul and button styles */

.stage-name {
    font-size: x-large;
    text-decoration: underline;
}

.likesCount { 
    font-size: large;
    padding: 1% 1%;
}

.button {
    border: 2px solid black;
    border-radius: 10%;
    padding: .75% .75%;
}

.button:hover {
    cursor: pointer;
}

.like {
    background: lightgreen;
}

.dislike {
    background: mediumblue;
    color: #f2f2f2
}

.delete {
    background: crimson;
}